@import 'assets/scss/_variaveis';

nav {
  background: white;
  padding: 20px;

  div {
    display: flex;
    justify-content: center;

    a {
      padding: 0 15px;
      text-decoration: none;
      color: #424242;
      font-weight: bold;
      font-size: 18px;
      transition: color ease .3s;

      &:hover {
        color: $hover-text;
      }
    }
  }
}
